.header{

  &.--global{
    display:flex;
    flex:5 0 100%;
    justify-content: space-between;
    width:100%;
    margin:0 auto;
    padding:2rem 0;

    .logo {
      display:flex;
      align-items: center;
      color:$brandMain;

      h1 {
        display:flex;
        align-items: center;
      }
      span {
        margin-left:5px;
        font-size:.9rem;
      }
      a{
        text-decoration: none;
        color:$brandMain;
      }
    }

    @media #{$tablet}{
      padding:2rem 1rem;
    }
  }
}